.login-overlay {
  position: relative;
  height: 100vh;
  width: 100%;
}

.login-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%; 
  background-color: white; 
  z-index: -1; 
}

.login-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%; 
  background-color: #7062EA; 
  z-index: -1;
}

@media(max-width: 541px) {
  .login-overlay::before,
  .login-overlay::after {
    content: none; 
  }
}

.shadow-custom-lg{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}